/* font : pas loin de Banhshift -> classique */

@font-face {
    font-family: 'Bahnschrift';
    src: url('/fonts/font.ttf') format('truetype');
}

:root {
    --main-font-color-white: rgba(255, 255, 255, 1);
    --main-bg-color: rgba(232, 232, 232, 1);
    --main-pagination-bg-color: rgba(202, 202, 202, 1);
    --second-pagination-bg-color: rgba(167, 185, 202, 1);
    --overlay-bg-color: rgba(37, 58, 88, .5);
    --second-bg-color: rgba(242, 242, 242, 1);

    --main-font: 'Bahnschrift';
}

html {
    background-color: #EDEDED;
    font-family: var(--main-font);
}

body {
    margin: 0;
}

h1 {
    margin: 0;
}

a {
    all: unset;
    cursor: pointer;
}

a.selected {
    text-decoration: underline;
}

header {
    background-color: rgba(142, 143, 145, 0.349);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}

header h1 {
    font-size: 3em;
}

header p {
    font-style: italic;
    font-size: 1.1em;
}

menu {
    display: flex;
    justify-content: center;
    padding: 1em 0;
}

menu a {
    font-size: 1.5em;
    margin: 0 1em;
}

main {
    padding-left: 5%;
}

h2 {
    font-size: 2em;
}

.song {
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

.song .info {
    display: flex;
    align-items: center;
    margin-left: 6em; /* 4em pour l'icon twitch + 2 pour la marge du songwave */
}

.song .info .icon.play {
    width: 2em;
}

.song .info p {
    margin-left: .5em;
    font-size: 1.25em;
}

.songMain {
    display: flex;
    align-items: center;
}

.song-wave {
    width: 40em;
    margin: 0 2em;
}

img.icon {
    width: 1.5em;
    margin-right: .5em;
    cursor: pointer;
}

.song .download {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song img.icon.download {
    margin: 0 0 1em 0;
    width: 2em;
}

.song .download p {
    margin: 0;
    font-size: .9em;
    text-align: center;
    color: rgb(48, 48, 48);
}

img.icon.twitch {
    width: 4em;
    cursor: auto;
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
}